
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>My Works Show</title>
{#    <script src="/static/js/test.js"></script>#}
<link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<h2>UI设计</h2>
	<div class="center">
		<ul>
			<li>
				<a href="/UI_Dots">
					<div>
						<img class="imgdisplay" src="/static/Images/UI_Dots.jpg" alt="" />
					</div>
				</a>
			</li>
			<li>
				<a href="/UI_JustMusic_detail">
					<div>
						<img src="/static/Images/UI_JustMusic.jpg" class="imgdisplay" alt="" />
					</div>
				</a>
			</li>
			<li>
				<a href="/UI_Record">
					<div>
						<img src="/static/Images/UI_Record.jpg" class="imgdisplay" alt="" />
					</div>
				</a>
			</li>
			<li>
				<a href="/COURSERA.html">
					<div>
						<img src="/staitc/Images/COURSERA.jpg" class="imgdisplay" alt="" />
					</div>
				</a>
			</li>
			<li>
				<a href="/UI_Yoga.html">
					<div>
						<img src="/static/Images/UI_Yoga.jpg" class="imgdisplay" alt="" />
					</div>
				</a>
			</li>
			<li>
				<a href="/UI_Skiing.html">
					<div>
						<img src="/staitc/Images/UI_Skiing.jpg" class="imgdisplay" alt="" />
					</div>
				</a>
			</li>
			<!--<li>
				<a href="IconSmartisan.html">
					<div>
						<img src="Images/IconSmartisan.jpg" class="imgdisplay" alt="" />
					</div>
				</a>
			</li>-->
		</ul>
	</div>
	<!--<hr/>-->
	<h2>平面设计</h2>
	<div class="center">
		<ul>
			<li>
				<a href="/Drawing_Car.html">
					<div>
						<img src="/static/Images/Drawing_Car.jpg" class="imgdisplay" alt="" />
					</div>
				</a>
			</li>
			<li>
				<a href="/Drawing_Rainyday.html">
					<div>
						<img src="/static/Images/Drawing_Rainyday.jpg" class="imgdisplay" alt="" />
					</div>
				</a>
			</li>
			<li>
				<a href="/poster_Halloween.html">
					<div>
						<img src="/static/Images/poster_Halloween.jpg" class="imgdisplay" alt="" />
					</div>
				</a>
			</li>
			<li>
				<a href="/Poster_dayuhaitang.html">
					<div>
						<img src="/static/Images/Poster_dayuhaitang.jpg" class="imgdisplay" alt="" />
					</div>
				</a>
			</li>
			<!--<li>
				<a href="#">
					<div>
						<img src="Images/poster_bulge.jpg" class="imgdisplay" alt="" />
					</div>
				</a>
			</li>-->
			<li>
				<a href="/OverallEffect_Byhealth.html">
					<div>
						<img src="/static/Images/OverallEffect_Byhealth.jpg" class="imgdisplay" alt="" />
					</div>
				</a>
			</li>
			<li>
				<a href="/B3F3.html">
					<div>
						<img src="/static/Images/B3F3.jpg" class="imgdisplay" alt="" />
					</div>
				</a>
			</li>
			
			<li>
				<a href="/CarDesign.html">
					<div>
						<img src="/static/Images/CarDesign.jpg" class="imgdisplay" alt="" />
					</div>
				</a>
			</li>			
			<li>
				<a href="/WEBbanner.html">
					<div>
						<img src="/static/Images/WEBbanner.jpg" class="imgdisplay" alt="" />
					</div>
				</a>
			</li>
		</ul>
	</div>
	<!--<hr/>-->
	<h2>动态效果设计-工业类</h2>
	<div class="center">
		<ul>
			<li>
				<a href="/DustBlowing.html">
					<div>
						<img src="/static/Images/DustBlowing.gif" class="imgdisplay" alt="" />
					</div>
				</a>
			</li>
			<li>
				<a href="/MultidimensionalMixer.html">
					<div>
						<img src="/static/Images/MultidimensionalMixer.gif" class="imgdisplay" alt="" />
					</div>
				</a>
			</li>
			<li>
				<a href="/ChargingBarrel.html">
					<div>
						<img src="/static/Images/ChargingBarrel.gif" class="imgdisplay" alt="" />
					</div>
				</a>
			</li>
			<li>
				<a href="/RunningWater.html">
					<div>
						<img src="/static/Images/RunningWater.gif" class="imgdisplay" alt="" />
					</div>
				</a>
			</li>
		</ul>
	</div> 
</body>
</html>
