<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Bringing Stray Cat Home</title>
<link href="/static/css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div id="header">
		<table class="tb_nav">
			<tr>
				<td class="td_left">
					<a id="logo" href="/index/"><img src="/static/images/logo.png" alt=""/><img id="img_logoname" src="/static/images/logoname.png" alt=""/></a>
				</td>
				<td class="td_middle">
					<ul id="menu">
						<li class="active"><a href="/index/">首页</a></li>
						<li><a href="/about/">关于</a></li>
						
					</ul>
				</td>
				<td class="td_right">
					<a id="login" href="/login/">登录/注册</a>
				</td>
			</tr>
		</table>	
	</div>
	<div id="banner">
		<form action="#">
			<input id="bt_share" type="submit" value="分享" />
		</form>
	</div>
	<div id="content">
		<div id="latest_block">
			<div class="title">
				<table class="tb_title" align="center">
					<tr>
						<td>
							<img src="/static/images/titledecoration.png" alt="" />
						</td>
						<td>
							<h2>动态</h2>
						</td>
						<td>
							<img src="/static/images/titledecoration.png" alt="" />
						</td>
					</tr>
				</table>
			</div>
			
			<div class="latest">
				<div class="latest_box">					
						<a href="/index/">
							<img class="latest_box_img" src="/static/images/cat.jpg" alt="" />
						</a>
						<div class="labox_r2">
							<div class="user_div"><img class="user_img" src="/static/images/cat.jpg" alt=""></div>
							<div class="latest_txt">
								<h3>惠福东路发现流浪猫一只惠福东路发现流浪猫一只</h3>								
								<p>
									详情：位于越秀区惠福东路附近，经常在下午两、三点出没......详情：位于越秀区惠福东路附近，经常在下午两、三点出没......详情：位于越秀区惠福东路附近，经常在下午两、三点出没......
								</p>
							</div>
						</div>
						<div class="line"></div>						
						<div class="labox_r3">
							<table class="tb_nav">
								<tr>
									<td width="25px">
										<img class="icon" src="/static/images/icon_like.png" alt="">
									</td>
									<td>
										<span class="dataspan">35</span>
									</td>
									<td width="25px">
										<img class="icon" src="/static/images/icon_message.png" alt="">
									</td>
									<td>
										<span class="dataspan">21</span>
									</td>
									<td>
										<div class="state"><span class="statespanstyle">领养中</span></div>
									</td>
								</tr>
							</table>
													
							
							
							
							
						</div>
					
				</div>
				<div class="latest_box">					
						<a href="/index/">
							<img class="latest_box_img" src="/static/images/cat.jpg" alt="" />
						</a>
						<div class="labox_r2">
							<div class="user_div"><img class="user_img" src="/static/images/user_girl.png" alt=""></div>
							<div class="latest_txt">
								<h3>惠福东路发现流浪猫一只惠福东路发现流浪猫一只</h3>								
								<p>
									详情：位于越秀区惠福东路附近，经常在下午两、三点出没......详情：位于越秀区惠福东路附近，经常在下午两、三点出没......详情：位于越秀区惠福东路附近，经常在下午两、三点出没......
								</p>
							</div>
						</div>
						<div class="line"></div>						
						<div class="labox_r3">
							<table class="tb_nav">
								<tr>
									<td width="25px">
										<img class="icon" src="/static/images/icon_like.png" alt="">
									</td>
									<td>
										<span class="dataspan">35</span>
									</td>
									<td width="25px">
										<img class="icon" src="/static/images/icon_message.png" alt="">
									</td>
									<td>
										<span class="dataspan">21</span>
									</td>
									<td>
										<div class="state"><span class="statespanstyle">领养中</span></div>
									</td>
								</tr>
							</table>



						</div>
					
				</div>
				<div class="latest_box">					
						<a href="/index/">
							<img class="latest_box_img" src="/static/images/cat.jpg" alt="" />
						</a>
						<div class="labox_r2">
							<div class="user_div"><img class="user_img" src="/static/images/user_boy.png" alt=""></div>
							<div class="latest_txt">
								<h3>惠福东路发现流浪猫一只惠福东路发现流浪猫一只</h3>								
								<p>
									详情：位于越秀区惠福东路附近，经常在下午两、三点出没......详情：位于越秀区惠福东路附近，经常在下午两、三点出没......详情：位于越秀区惠福东路附近，经常在下午两、三点出没......
								</p>
							</div>
						</div>
						<div class="line"></div>						
						<div class="labox_r3">
							<table class="tb_nav">
								<tr>
									<td width="25px">
										<img class="icon" src="/static/images/icon_like.png" alt="">
									</td>
									<td>
										<span class="dataspan">35</span>
									</td>
									<td width="25px">
										<img class="icon" src="/static/images/icon_message.png" alt="">
									</td>
									<td>
										<span class="dataspan">21</span>
									</td>
									<td>
										<div class="state"><span class="statespanstyle">领养中</span></div>
									</td>
								</tr>
							</table>
													
							
							
							
							
						</div>
					
				</div>
				<div class="latest_box">					
						<a href="/index/">
							<img class="latest_box_img" src="/static/images/cat.jpg" alt="" />
						</a>
						<div class="labox_r2">
							<div class="user_div"><img class="user_img" src="/static/images/user_girl.png" alt=""></div>
							<div class="latest_txt">
								<h3>惠福东路发现流浪猫一只惠福东路发现流浪猫一只</h3>								
								<p>
									详情：位于越秀区惠福东路附近，经常在下午两、三点出没......详情：位于越秀区惠福东路附近，经常在下午两、三点出没......详情：位于越秀区惠福东路附近，经常在下午两、三点出没......
								</p>
							</div>
						</div>
						<div class="line"></div>						
						<div class="labox_r3">
							<table class="tb_nav">
								<tr>
									<td width="25px">
										<img class="icon" src="/static/images/icon_like.png" alt="">
									</td>
									<td>
										<span class="dataspan">35</span>
									</td>
									<td width="25px">
										<img class="icon" src="/static/images/icon_message.png" alt="">
									</td>
									<td>
										<span class="dataspan">21</span>
									</td>
									<td>
										<div class="state"><span class="statespanstyle">领养中</span></div>
									</td>
								</tr>
							</table>
													
							
							
							
							
						</div>
					
				</div>
				
				<div class="latest_box">					
						<a href="/index/">
							<img class="latest_box_img" src="/static/images/cat.jpg" alt="" />
						</a>
						<div class="labox_r2">
							<div class="user_div"><img class="user_img" src="/static/images/user_girl.png" alt=""></div>
							<div class="latest_txt">
								<h3>惠福东路发现流浪猫一只惠福东路发现流浪猫一只</h3>								
								<p>
									详情：位于越秀区惠福东路附近，经常在下午两、三点出没......详情：位于越秀区惠福东路附近，经常在下午两、三点出没......详情：位于越秀区惠福东路附近，经常在下午两、三点出没......
								</p>
							</div>
						</div>
						<div class="line"></div>						
						<div class="labox_r3">
							<table class="tb_nav">
								<tr>
									<td width="25px">
										<img class="icon" src="/static/images/icon_like.png" alt="">
									</td>
									<td>
										<span class="dataspan">35</span>
									</td>
									<td width="25px">
										<img class="icon" src="/static/images/icon_message.png" alt="">
									</td>
									<td>
										<span class="dataspan">21</span>
									</td>
									<td>
										<div class="state"><span class="statespanstyle">领养中</span></div>
									</td>
								</tr>
							</table>
													
							
							
							
							
						</div>
					
				</div>
				<div class="latest_box">					
						<a href="/index/">
							<img class="latest_box_img" src="/static/images/cat.jpg" alt="" />
						</a>
						<div class="labox_r2">
							<div class="user_div"><img class="user_img" src="/static/images/user_girl.png" alt=""></div>
							<div class="latest_txt">
								<h3>惠福东路发现流浪猫一只惠福东路发现流浪猫一只</h3>								
								<p>
									详情：位于越秀区惠福东路附近，经常在下午两、三点出没......详情：位于越秀区惠福东路附近，经常在下午两、三点出没......详情：位于越秀区惠福东路附近，经常在下午两、三点出没......
								</p>
							</div>
						</div>
						<div class="line"></div>						
						<div class="labox_r3">
							<table class="tb_nav">
								<tr>
									<td width="25px">
										<img class="icon" src="/static/images/icon_like.png" alt="">
									</td>
									<td>
										<span class="dataspan">35</span>
									</td>
									<td width="25px">
										<img class="icon" src="/static/images/icon_message.png" alt="">
									</td>
									<td>
										<span class="dataspan">21</span>
									</td>
									<td>
										<div class="state"><span class="statespanstyle">领养中</span></div>
									</td>
								</tr>
							</table>
													
							
							
							
							
						</div>
					
				</div>
				<div class="latest_box">					
						<a href="/index/">
							<img class="latest_box_img" src="/static/images/cat.jpg" alt="" />
						</a>
						<div class="labox_r2">
							<div class="user_div"><img class="user_img" src="/static/images/user_girl.png" alt=""></div>
							<div class="latest_txt">
								<h3>惠福东路发现流浪猫一只惠福东路发现流浪猫一只</h3>								
								<p>
									详情：位于越秀区惠福东路附近，经常在下午两、三点出没......详情：位于越秀区惠福东路附近，经常在下午两、三点出没......详情：位于越秀区惠福东路附近，经常在下午两、三点出没......
								</p>
							</div>
						</div>
						<div class="line"></div>						
						<div class="labox_r3">
							<table class="tb_nav">
								<tr>
									<td width="25px">
										<img class="icon" src="/static/images/icon_like.png" alt="">
									</td>
									<td>
										<span class="dataspan">35</span>
									</td>
									<td width="25px">
										<img class="icon" src="/static/images/icon_message.png" alt="">
									</td>
									<td>
										<span class="dataspan">21</span>
									</td>
									<td>
										<div class="state"><span class="statespanstyle">领养中</span></div>
									</td>
								</tr>
							</table>
													
							
							
							
							
						</div>
					
				</div>
				<div class="latest_box">					
						<a href="/index/">
							<img class="latest_box_img" src="/static/images/cat.jpg" alt="" />
						</a>
						<div class="labox_r2">
							<div class="user_div"><img class="user_img" src="/static/images/user_girl.png" alt=""></div>
							<div class="latest_txt">
								<h3>惠福东路发现流浪猫一只惠福东路发现流浪猫一只</h3>								
								<p>
									详情：位于越秀区惠福东路附近，经常在下午两、三点出没......详情：位于越秀区惠福东路附近，经常在下午两、三点出没......详情：位于越秀区惠福东路附近，经常在下午两、三点出没......
								</p>
							</div>
						</div>
						<div class="line"></div>						
						<div class="labox_r3">
							<table class="tb_nav">
								<tr>
									<td width="25px">
										<img class="icon" src="/static/images/icon_like.png" alt="">
									</td>
									<td>
										<span class="dataspan">35</span>
									</td>
									<td width="25px">
										<img class="icon" src="/static/images/icon_message.png" alt="">
									</td>
									<td>
										<span class="dataspan">21</span>
									</td>
									<td>
										<div class="state"><span class="statespanstyle">领养中</span></div>
									</td>
								</tr>
							</table>																						
						</div>
				</div>
			</div>
		</div>
		<br class="spacer" />
		<div id="other_block">
			<div class="title">
				<table class="tb_title" align="center">
					<tr>
						<td>
							<img src="/static/images/titledecoration.png" alt="" />
						</td>
						<td>
							<h2>其他</h2>
						</td>
						<td>
							<img src="/static/images/titledecoration.png" alt="" />
						</td>
					</tr>
				</table>
			</div>
			
			<div class="latest">
				<div class="other_box">
					<img class="img_other_box" src="/static/images/cat.jpg" alt="">
					<h3>项一项一</h3>
				</div>
				<div class="other_box">
					<img class="img_other_box" src="/static/images/cat.jpg" alt="">
					<h3>项一项一</h3>
				</div>
				<div class="other_box">
					<img class="img_other_box" src="/static/images/cat.jpg" alt="">
					<h3>项一项一</h3>
				</div>
			</div>
		</div>
	</div>
	<br class="spacer" />
	<div id="footer">
		<div class="content_footer">
			<ul>
				<li><a href="/index/">流浪猫窝首页</a></li>
				<li><a href="/#/">用户反馈</a></li>
				<li><a href="/about/">联系我们</a></li>
				
			</ul>
			<p>©Bringing Stray Cat Home 2018.</p>
		</div>
	</div>
</body>
</html>
